

body {
  
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://www.eaa106.org/wp-content/uploads/2019/07/napali-coast.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

#naslov {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
    font-size: 90px;
    color: white;
}
@media all and (max-width: 662px){
    #naslov{
        font-size: 50px;
    }
  
}


#glavno {
    display: flex;
  
}

#jp {
    flex: 2;
    margin-top: 100px;
}

#sv {
    flex: 2;
    margin-top: 100px;
}

#kl {
    flex: 2;
    margin-top: 100px;
}

#jp img {
    border-radius: 50%;
}

#kl img {
    border-radius: 50%;
}

#sv img {
    border-radius: 50%;
}

#kom {
    flex: 1;
    margin-top: 150px;
}

#koment {
    border-radius: 25px;
    background-color: #9bd65d;
    font-size: 15px;
    color: white;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 25px;
    background-color: #9bd65d;
    color: white;
}

#effect {
    margin-top: 40px;
    margin-left: 170px;
    width: 600px;
    height: 243px;
    padding: 0.4em;
    position: absolute;
    border-radius: 25px;
}

#btn {
    margin: 50px;
}

.topnav {
    overflow: auto;
    background-color: #356600;
}

.topnav a {
    float: left;
    color: #d9ffb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #d9ffb3;
    color: black;
}

.topnav a.active {
    background-color: #1a3300;
    color: white;
}

.toggler {
    font-size: 12px;
    text-align: center;
}