body {
    background: rgb(245, 190, 208);
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #356600;
}

.topnav a {
    float: left;
    color: #d9ffb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #d9ffb3;
    color: black;
}

.topnav a.active {
    background-color: #1a3300;
    color: white;
}

#naslov {
    display: flex;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(130, 3, 13);
    color: white;
    padding: 10px;
}

#nslv {
    flex: 10;
    text-align: center;
}

#slnasl {
    flex: 1;
}

#kanji {
    flex: 1;
    font-size: 10px;
}

#uvod {
    color: white;
    margin: 20px;
    text-align: center;
    background-color: rgb(189, 97, 105);
}

#slike {
    display: flex;
    background: rgb(130, 3, 13);
    padding: 20px;
    margin-bottom: 20px;
}

#sl1 {
    flex: 1;
    margin: 5px;
}

#sl2 {
    flex: 1;
    margin: 5px;
}

#sl3 {
    flex: 1;
    margin: 5px;
}

#sl4 {
    flex: 1;
    margin: 5px;
}

#glavno {
    display: flex;
}

#levo {
    flex: 1;
}

#desno {
    flex: 1;
}

#levo {
    background-color: rgb(189, 97, 105);
    color: white;
}

.celina {
    position: relative;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}

.slika {
    display: flex;
    width: 60%;
    height: auto;
}

.tekst {
    position: absolute;
    right: 0;
    width: 0;
    bottom: 0;
    left: 100%;
    background-color: rgb(130, 3, 13);
    color: white;
    overflow: hidden;
    height: 100%;
    transition: 1s;
    font-size: 120%;
}

@media all and (min-width: 100px) and (max-width: 700px){
    .tekst{
        font-size: 1vh;
    }   
}
@media all and (min-width: 701px) and (max-width: 1000px){
    .tekst{
        font-size: 8px;
    }   
}
@media all and (min-width: 1001px) and (max-width: 1500px){
    .tekst{
        font-size: 10px;
    }   
}
@media all and (min-width: 1501px) and (max-width: 2000px){
    .tekst{
        font-size: 100%;
    }   
}

.celina:hover .tekst {
    width: 85.3%;
    left: 0;
}

#naslov3 {
    text-align: center;
    margin-top: 80px;
    margin-right: 70px;
    background-color: rgb(130, 3, 13);
    color: white;
    margin-left: 50px;
}

#nsz {
    text-align: center;
}

.zp {
    background-color: rgb(130, 3, 13);
}

.slikezan {
    margin-left: 20px;
}