* {
    box-sizing: border-box;
}

.topnav {
    overflow: auto;
    background-color: #356600;
}

.topnav a {
    float: left;
    color: #d9ffb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #d9ffb3;
    color: black;
}

.topnav a.active {
    background-color: #1a3300;
    color: white;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-img {
    background-image: url("../slike/planinaVOZ.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.transbox {
    margin: 30px;
    width: 900px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

@media all and (max-width: 1000px){
    .transbox{
        margin: 0;
        font-size: 100%;
        width: 100%;
    }  
    #tx{
        width: 90%;
        font-size: 10px;
    } 
}


.transbox p {
    margin: 5%;
    font-weight: bold;
    color: black;
}

h2 {
    text-align: center;
}

.rowGeneva {
    display: flex;
}

.columnGeneva {
    flex: 33.33%;
    padding: 5px;
}

h3 {
    text-decoration: underline;
}

.bcg {
    background-image: linear-gradient(to right, #494688 0, #bbb4f0 100%);
    padding: 5px;
}

.hero-img2 {
    background-image: url("../slike/planinaSUMA.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-txt2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}