body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../slike/naslovna.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #356600;
}

.topnav a {
    float: left;
    color: #d9ffb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #d9ffb3;
    color: black;
}

.topnav a.active {
    background-color: #1a3300;
    color: white;
}

h1 {
    animation-name: naslov;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: unset;
    color: black;
}

@keyframes naslov {
    0% {
        margin-left: 100%;
        width: 300%;
        font-size: 2rem;
    }
    50% {
        font-size: 3rem;
    }
    100% {
        margin-left: 0%;
        width: 100%;
        font-size: 2rem;
    }
}

#opis {
    text-align: center;
    background-color: antiquewhite;
    margin: 10px;
    padding: 15px;
}

#opis {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(80, 80, 190);
}

#opis {
    background-color: antiquewhite;
    transition-property: all;
    transition-duration: 1s;
}

#opis:hover {
    background-color: darkgray;
}

.nesto {
    display: flex;
    justify-content: space-between;
}

.agencije {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(250, 218, 182), rgb(150, 209, 160));
}

#div1 {
    flex: 1;
    margin: 5px;
    align-self: center;
    border-right: 2px solid rgb(80, 80, 190);
}

#div2 {
    flex: 1;
    margin: 5px;
    align-self: center;
    border-right: 2px solid rgb(80, 80, 190);
}

#div3 {
    flex: 1;
    margin: 5px;
    align-self: center;
    border-right: 2px solid rgb(80, 80, 190);
}

#div4 {
    flex: 1;
    margin: 5px;
    align-self: center;
}

.agencije ul li {
    list-style-type: none;
}

#cene {
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

.nesto img {
    position: relative;
    transition-property: opacity;
    transition-duration: 0.5s;
}

#slika1 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika2 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika3 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika4 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika5 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika6 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika7 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}

#slika8 {
    display: flex;
    flex: 1;
    border-radius: 10px;
}